[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/plugins/start/auto-pairs"]
	path = pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/plugins/start/supertab"]
	path = pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/plugins/start/vim-repeat"]
	path = pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/plugins/start/vim-unimpaired"]
	path = pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/plugins/start/vim-obsession"]
	path = pack/plugins/start/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/vim-git"]
	path = pack/plugins/start/vim-git
	url = https://github.com/tpope/vim-git
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/plugins/start/vim-illuminate"]
	path = pack/plugins/start/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate
[submodule "pack/plugins/start/vim-easymotion"]
	path = pack/plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "pack/plugins/start/rainbow_parentheses.vim"]
	path = pack/plugins/start/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "pack/plugins/start/vim-markdown"]
	path = pack/plugins/start/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "pack/plugins/start/vim-abolish"]
	path = pack/plugins/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "pack/plugins/start/vim-eunuch"]
	path = pack/plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/plugins/start/vim-css-color"]
	path = pack/plugins/start/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "pack/plugins/start/vim-apathy"]
	path = pack/plugins/start/vim-apathy
	url = https://github.com/tpope/vim-apathy
[submodule "pack/plugins/start/coc.nvim"]
	path = pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "pack/plugins/start/vim-trailing-whitespace"]
	path = pack/plugins/start/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule "pack/plugins/start/denite.nvim"]
	path = pack/plugins/start/denite.nvim
	url = https://github.com/Shougo/denite.nvim
[submodule "pack/plugins/start/ultisnips"]
	path = pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/plugins/start/vim-snippets"]
	path = pack/plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/plugins/start/targets.vim"]
	path = pack/plugins/start/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "pack/themes/opt/vim-solarized8"]
	path = pack/themes/opt/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
